aenum==3.1.16
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioice==0.10.2
aiortc==1.14.0
aiosignal==1.4.0
aiosmtplib==1.1.6
alembic==1.9.0
amqp==5.1.1
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.34.1
anyio==4.12.1
APScheduler==3.10.2
asgiref==3.6.0
astroid==2.14.1
async-timeout==4.0.2
attrs==25.3.0
autopep8==2.0.1
av==16.1.0
azure-appconfiguration==1.3.0
azure-appconfiguration-provider==1.0.0b1
azure-cognitiveservices-speech==1.47.0
azure-common==1.1.28
azure-core==1.38.0
azure-keyvault-secrets==4.6.0
azure-storage-blob==12.14.1
bcrypt==4.0.1
billiard==4.1.0
black==23.9.1
boto3==1.37.25
botocore==1.37.25
Brotli==1.1.0
cachetools==5.5.2
cartesia==2.0.17
celery==5.3.1
certifi==2026.1.4
cffi==2.0.0
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.3.1
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
coloredlogs==15.0.1
cronitor==4.7.1
cryptography==46.0.4
cssselect2==0.7.0
daily-python==0.23.0
dataclasses-json==0.6.7
deepgram-sdk==4.7.0
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.6
distlib==0.3.6
distro==1.9.0
dnspython==2.6.1
docstring_parser==0.17.0
doppler-sdk==1.3.0
durationpy==0.9
ecdsa==0.18.0
email-validator==2.0.0
et-xmlfile==1.1.0
exceptiongroup==1.2.2
fastapi==0.128.0
fastapi-azure-auth==4.1.3
fastapi-cli==0.0.20
fastapi-cloud-cli==0.11.0
fastar==0.8.0
filelock==3.9.0
flatbuffers==25.12.19
flower==2.0.1
fonttools==4.42.1
frozenlist==1.3.3
fsspec==2024.6.1
future==1.0.0
google-api-core==2.29.0
google-auth==2.48.0
google-cloud-speech==2.36.0
google-cloud-texttospeech==2.34.0
google-crc32c==1.8.0
google-genai==1.60.0
googleapis-common-protos==1.72.0
greenlet==2.0.2
groq==0.23.1
grpcio==1.76.0
grpcio-status==1.71.2
h11==0.16.0
hf-xet==1.2.0
html5lib==1.1
http-exceptions==0.2.10
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.36.0
humanfriendly==10.0
humanize==4.8.0
hupper==1.11
identify==2.5.12
idna==3.4
ifaddr==0.2.0
isodate==0.6.1
isort==5.12.0
iterators==0.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.5.3
kombu==5.3.1
kubernetes==32.0.1
lazy-object-proxy==1.9.0
llvmlite==0.44.0
logtail-python==0.2.6
loguru==0.7.3
Mako==1.2.4
Markdown==3.10.1
markdown-it-py==4.0.0
MarkupSafe==2.1.1
marshmallow==3.26.2
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.0.5
msrest==0.7.1
multidict==6.0.4
mypy-extensions==1.0.0
ndg-httpsclient==0.5.1
newrelic==8.9.0
nltk==3.9.2
nodeenv==1.7.0
numba==0.61.2
numpy==2.2.6
oauthlib==3.2.2
onnxruntime==1.23.2
openai==2.16.0
opencv-python==4.13.0.90
openpyxl==3.1.2
orjson==3.11.6
outcome==1.3.0.post0
packaging==23.1
pandas==1.5.2
passlib==1.7.4
PasteDeploy==3.0.1
pathspec==0.11.2
phonenumbers==8.12.48
pillow==11.3.0
-e git+https://github.com/ThilakGunasekaran/pipecat.git@bf9b166464be1f406834f3a650c167275388eed4#egg=pipecat_ai
pipecat-ai-small-webrtc-prebuilt==2.0.4
pkce==1.0.3
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==2.6.2
prometheus-client==0.17.1
prompt-toolkit==3.0.39
propcache==0.4.1
proto-plus==1.27.0
protobuf==5.29.5
psycopg2-binary==2.9.6
pusher==3.3.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.10.4
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydub==0.25.1
pydyf==0.7.0
pyee==13.0.0
Pygments==2.19.2
PyJWT==2.10.1
pylibsrtp==1.0.0
pylint==2.16.0
pyloudnorm==0.1.1
PyNaCl==1.5.0
pyOpenSSL==25.3.0
pyphen==0.14.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.2.1
python-jose==3.3.0
python-multipart==0.0.22
pytz==2022.7
PyYAML==6.0
redis==4.4.2
regex==2026.1.15
requests==2.32.4
requests-file==1.5.1
requests-oauthlib==1.3.1
resampy==0.4.3
resend==2.10.0
rich==14.3.1
rich-toolkit==0.17.2
rignore==0.7.6
rsa==4.9
s3transfer==0.11.4
safetensors==0.7.0
sarvamai==0.1.21
schedule==1.1.0
scipy==1.17.0
selenium==4.30.0
sentry-sdk==2.51.0
shellingham==1.5.4
sib-api-v3-sdk==7.6.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.13.1
soxr==0.5.0.post1
speechmatics-rt==0.5.3
speechmatics-voice==0.2.8
SQLAlchemy==2.0.46
starlette==0.50.0
sympy==1.14.0
tenacity==9.1.2
tinycss2==1.2.1
tldextract==3.1.0
tokenizers==0.22.2
tomli==2.0.1
tomlkit==0.11.6
# -e git+https://github.com/tonehq/tone.git@c3d78365dcc663bc3baed49eedd1852fd1334b8e#egg=tone
tornado==6.3.3
tqdm==4.66.1
transformers==4.57.6
translationstring==1.4
trio==0.29.0
trio-websocket==0.12.2
twilio==7.9.1
typer==0.21.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
tzlocal==5.0.1
ujson==5.11.0
urllib3==1.26.13
uvicorn==0.40.0
uvloop==0.22.1
venusian==3.0.0
vine==5.0.0
virtualenv==20.17.1
wait_for2==0.4.1
watchfiles==1.1.1
wcwidth==0.2.6
weasyprint==59.0
webdriver-manager==4.0.2
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.8.0
websockets==15.0.1
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
yarl==1.22.0
zope.deprecation==4.4.0
zope.interface==5.5.2
zopfli==0.2.3
infisicalsdk>=1.0.0
