--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.10.0
torchaudio==2.10.0
nano-qwen3tts-vllm @ git+https://github.com/tsdocode/nano-qwen3tts-vllm.git
qwen-tts>=0.0.5
pyzmq>=27.1.0
xxhash>=3.6.0
transformers>=4.57.3
soundfile
numpy
fastapi
uvicorn[standard]
pydantic>=2
