name: Dev CI/CD
on:
  push:
    branches:
      - "dev"
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: core/Dockerfile
          push: true
          tags: developer390/tone:latest
          cache-from: type=registry,ref=developer390/tone:buildcache
          cache-to: type=registry,ref=developer390/tone:buildcache,mode=max

      - name: Set up Kubernetes context
        uses: azure/k8s-set-context@v2
        with:
          kubeconfig: ${{ secrets.KUBE_CONFIG_JSON }}

      - name: Create or ensure namespace exists
        run: kubectl create namespace dev --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy to Kubernetes
        uses: azure/k8s-deploy@v1
        with:
          namespace: dev
          manifests: |
            core/kubernetes/dev/deployment.yaml
            core/kubernetes/dev/service.yaml
            core/kubernetes/dev/ingress.yaml

      - name: Force rollout restart
        run: kubectl rollout restart deployment/tone-api-deployment -n dev
